Fred Default.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "ForEach",
        "typeProperties": {
          "items": {
            "value": "@createArray('MORTGAGE30US','MEHOINUSA672N','MSPUS')",
            "type": "Expression"
          },
          "activities": [
            {
              "type": "TridentNotebook",
              "typeProperties": {
                "notebookId": "074313cb-e2a8-89ae-409a-e6173b3972d3",
                "workspaceId": "00000000-0000-0000-0000-000000000000",
                "parameters": {
                  "series_id": {
                    "value": {
                      "value": "@item()",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "start": {
                    "value": {
                      "value": "@pipeline().parameters.start",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "ened": {
                    "value": {
                      "value": "@pipeline().parameters.end",
                      "type": "Expression"
                    },
                    "type": "string"
                  }
                }
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Fred API Bronze Layer",
              "dependsOn": []
            },
            {
              "type": "SetVariable",
              "typeProperties": {
                "variableName": "file_path",
                "value": {
                  "value": "@json(activity('Fred API Bronze Layer').output.result.exitValue).file_path\n\n",
                  "type": "Expression"
                }
              },
              "policy": {
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Set variable1",
              "dependsOn": [
                {
                  "activity": "Fred API Bronze Layer",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            }
          ]
        },
        "name": "For Each Fred Report",
        "dependsOn": []
      }
    ],
    "parameters": {
      "start": {
        "type": "string"
      },
      "end": {
        "type": "string"
      }
    },
    "variables": {
      "file_path": {
        "type": "String"
      }
    }
  }
}